.btn-custom{
    background-color: lightpink;
    border: 1px solid lightpink;
}
#canvas{
    display:none;
}

#video{
    max-width:100%;
    height: auto;
}


#photo{
    display: flex;
    justify-content: center;
}

.camera{
    padding:0;
}

.input-group-text{
    background:none;
    border: none;
    margin-bottom: 8px;
}

