.btn-custom{
    background-color: lightpink;
    border: 1px solid lightpink;
}
#canvas{
    display:none;
}

#video{
    max-width:100%;
}


#photo{
    width: 350px;
    height: 240px;
    display: flex;
    justify-content: center;
}

.camera{
    padding:0;
}