.btn-custom{
    background-color: lightpink;
    border: 1px solid lightpink;
}
#canvas{
    display:none;
}

#video{
    max-width:100%;
}

#photoBox{
    display:flex;
    width: 100%;
    justify-content: center;
}

.camera{
    padding:0;
}

